/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
	max-width: 1296px;
	margin: 0 auto;
	padding: 0 12px;
}

@media(max-width: 768px){
	.container {
		max-width: 696px;
	}
}

@media(max-width: 375px){
	.container {
		max-width: 348px;
	}
}

.div-dcc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-dsb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bg-r {
	background-color: #AA0601;
	color: #ffffff;
}

nav{
	height: 80px;
}

.logo-w {
	width: 80px;
	height: auto;
	padding: 16px 0;
}

.menu-li{
	display: flex;
	font-size: 20px;
	line-height: 30px;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 0 32px;
}

nav a:hover {
	opacity: 0.5;
}